.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    color:#49557e;
    font-size: 18px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.navbar-cart-icon{
    position: relative;
}

.dot{
    position: absolute;
    top:-8px;
    right: -8px;
    border: 5px solid tomato;
    border-radius: 50%;
}

.navbar-right .sign-in-button{
    background-color: transparent;
    border: 1px solid tomato;
    padding:10px 30px;
    color: tomato;
    border-radius:50px;
    cursor: pointer;
    transition: 0.3s;
}

.sign-in-button:hover{
    background-color: #fff4f2;
    color: black;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}


@media screen and (max-width:750px) {
    .navbar .logo{
        width: 100px;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-right{
        gap:10px;
    }

    .navbar-right .sign-in-button{
        padding:5px 10px;
        width: 50%;
        font-size: 0.7em;
    }

    .navbar-right img{
        width:20px;
        height: 20px;
    }

    .dot{
        top:-1px;
        right:-1px;
        border: 2px solid tomato;
    }
    
}


@media screen and (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        font-size: 15px;
        gap:10px;
    }

    .navbar-right{
        gap:12px;
    }

    .navbar-right .sign-in-button{
        padding:10px 20px;
        width: 80%;
        font-size: 1em;
    }

    .navbar-right img{
        width:25px;
        height: 25px;
    }

    .dot{
        top:-4px;
        right:-4px;
        border: 3px solid tomato;
    }
    
}